header
    display: flex
    z-index: 0
    position: absolute
    top: 0
    left: 0
    justify-content: flex-end
    height: 100vh
    width: 100%
    background-color: #102134
    background-image: url("../img/dropWater640.jpg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    h1
        position: absolute
        top: $mainPaddingSides
        right: $mainPaddingSides

        text-align: right
        font-size: 2em

// =====================================================MediaQuery

@media (orientation: landscape)
    header
        margin-top: $navBarHeight
        position: relative
        height: calc(100vh - #{$navBarHeight})
        h1
            font-size: 2.2em
